
<!DOCTYPE html>
<html>
<head>
<title>TheBookShelf</title>
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<style>
#panel {
	background-color: #f2f2f2;
	margin-top: 100px;
	margin-bottom: 75px;
	padding-left: 40px;
	padding-bottom: 70px
}
</style>
<script type="text/javascript">
	var app = angular.module('myApp', []);
	app.controller('Controller', function($scope, $http) {
		$scope.proceed=true;
		$scope.place=false;
		$scope.order_placed=false;
		$scope.message="";
		$scope.viewCart = function() {
			$http({
				method : "GET",
				url : '/viewCart',
				data : {}
			}).success(function(data) {
				/* $scope.book_name=data.product_details.book_name;
				$scope.book_author=data.product_details.book_author;
				$scope.book_cost=data.product_details.book_cost;
				$scope.book_quantity=1; */
				$scope.product_details = data.product_details;
				console.log(JSON.stringify($scope.product_details));
				//  $scope.quantity=data.product_details.value.quantity;

			})

		}

		$scope.changeQuantity = function(product_details) {
			$http(
					{
						method : "POST",
						url : '/changeQuantity',
						data : {
							"product_details" : product_details,
							"quantity" : document
									.getElementById(product_details._rev).value
						}
					}).success(function(data) {

			})
		}
		
		$scope.removeFromCart = function(product_details) {

			$http({
				method : "POST",
				url : '/removeFromCart',
				data : {
					"product_details" : product_details
				}
			}).success(function(data){
				console.log("removed item from cart");
			})
			
		}
		
		$scope.checkout = function(product_details){
	console.log("Checkout: "+JSON.stringify(product_details[0].value.customer_id));
	$scope.customer_id=	JSON.stringify(product_details[0].value.customer_id);
	console.log("Customer ID:" +$scope.customer_id);
	$http({
				method : "POST",
				url : '/checkout',
				data : {
					"customer_id" : $scope.customer_id
				}
			}).success(function(data){
				$scope.proceed=false;
				$scope.place=true;
				$scope.customer=data.credit_card_details;
				console.log("checkout success" +JSON.stringify($scope.customer.email) );
			})
			
		}
		
		$scope.confirm = function(product_details){
			console.log("confirm: "+JSON.stringify(product_details[0].value.customer_id));
			$scope.customer_id=	JSON.stringify(product_details[0].value.customer_id);
			console.log("Customer ID:" +$scope.customer_id);
			$http({
						method : "POST",
						url : '/confirm',
						data : {
							"product_details" : product_details
						}
					}).success(function(data){
						$scope.proceed=false;
						$scope.place=false;
						$scope.order_placed=true;
						$scope.message=data.msg;
						console.log("checkout success" +JSON.stringify($scope.message) );
					})
					
				}
		
		$scope.cancel = function(product_details){
			$scope.proceed=false;
			$scope.place=false;
			$scope.order_placed=true;
			$scope.message="Your order has been cancelled, you can still view the items in your cart";
					
				}

	})
</script>
</head>
<body ng-app="myApp" ng-controller="Controller" ng-init="viewCart()">
	<nav class="navbar navbar-default navbar-fixed-top"
		style="background-color: #484848; padding: 10px">
		<div class="row">
			<div class="col-sm-11">
				<div class="container-fluid" style="color: white">
					<a href=""><img
						src="http://intertwingly.net/projects/AWDwR3/data/images/logo.png?1324774743"
						alt="Amazon logo"> </a> Already an The book Shelf customer? <a
						href="#" style="color: white"><u>Sign in</u></a>
				</div>
			</div>
			<div class="col-sm-1" style="color: white">Dhiraj Gurnani</div>
		</div>
	</nav>


	<br>
	<br>
	<br>
	<br>
	<br>

	<div class="row">
		<div class="col-sm-3"></div>
		<div class="col-sm-9"></div>
	</div>

	<div class="row">
		<div class="col-sm-1"></div>
		<div class="col-sm-9">
		{{message}}
		<div ng-show="place">
		<p align="center"><b>Payment details</b></p>
		<table class="table">
					<tr>
						<td style="border-top: none;">Customer Name</td>
						<td style="border-top: none;">{{customer.first_name}}  &nbsp&nbsp {{customer.last_name}}</td>
					</tr>
					<tr>
						<td style="border-top: none;">Card Number</td>
						<td style="border-top: none;">{{customer.card_no}}</td>
					</tr>
					<tr>
						<td style="border-top: none;">CVV</td>
						<td style="border-top: none;">***</td>
					</tr>
					<tr>
						<td style="border-top: none;">Expiry</td>
						<td style="border-top: none;">{{customer.expiry}}</td>
					</tr>
					<tr>
						<td style="border-top: none;">Shipping Address</td>
						<td style="border-top: none;">{{customer.address}}</td>
					</tr>
					<tr>
						<td style="border-top: none;">Contact Number</td>
						<td style="border-top: none;">{{customer.phone_no}}</td>
					</tr>
			</table>
			<br>
			<p align="center"><b>Order Details</b><br></p>
		</div>
			<table class="table" ng-show="!order_placed">
				<thead>
					<tr>
						<th></th>
						<th>Book Author</th>
						<th>Book Name</th>
						<th>Price</th>
						<th>Quantity</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="user in product_details">
						<td><img ng-src="images/{{user.value.book_image}}"
							height="120" width="120" /></img></td>
						<td><br>
						<br>{{user.value.book_author}}</td>
						<td><br>
						<br>{{user.value.book_name}}</td>
						<td><br>
						<br>{{user.value.book_cost}} $</td>
						<td><br>
						<br>
						<input type="number" ng-model="quantity" id="{{user.value._rev}}"
							value={{user.value.quantity}}
							ng-click="changeQuantity(user.value)"></input></td>
						<td><br>
						<br>
						<button ng-click="removeFromCart(user.value)">Remove</button>
					</tr>
				</tbody>
			</table>


		</div>
		<div class="col-sm-2"></div>
	</div>
<br><br>
	<div class=" row">
	<div class="col-sm-5"></div>
	<div class="col-sm-2">
	<button type="button" class="btn btn-success btn-lg" ng-click=checkout(product_details) ng-show="proceed">Proceed to Checkout</button>
	</div>
	<div class="col-sm-5"></div>
	</div>

	<div class="row">
	<div class="col-sm-4"></div>
	<div class="col-sm-1">
	<button type="button" class="btn btn-success btn-md" ng-click=confirm(product_details) ng-show="place">Confirm Order</button>
	</div>
	<div class="col-sm-2"></div>
	<div class="col-sm-1">
	<button type="button" class="btn btn-danger btn-md" ng-click=cancel() ng-show="place">Cancel Order</button>
	</div>
	<div class="col-sm-4"></div>
	</div>

	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>

	<div class="row">
		<div class="panel-body"
			style="background-color: #333333; padding-left: 40px">
			<div class="row">
				<div class="col-sm-2" style="color: white">
					Help<br>Conditions of use<br>Privacy Policy
				</div>
				<div class="col-sm-10" style="color: white">
					About<br>Carriers
				</div>
			</div>
			<div style="color: white">
				<br /> &copy 2007-2016 The book Shelf, LLC or its affiliates All
				items sold by and ship from The book Shelf unless otherwise
				specified.<br />
				<br />
			</div>
		</div>
	</div>
</body>
</html>